.btn-custom {
  border: none;
  width: 100%;
  height: 100%;
  padding: 6px;
  border-radius: 4px;
}

.btn-primary {
  background-color: #f9bb01;
  color: white;
}

.btn-outline {
  position: relative;
  background-color: #fff;
  border: 1px solid #f9bb01;
  color: #f9bb01;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s, border-color 0.5s;
}

.btn-outline::before {
  content: "";
  position: absolute;
  top: 0;
  left: -140%;
  width: 125%;
  height: 100%;
  background: #263b96;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  z-index: -1;
  transition: left 0.5s ease;
}

.btn-outline:hover {
  color: #fff;              
  border-color: transparent; 
}

.btn-outline:hover::before {
  left: 0;
}
