:root {

  --color-brand-primary: #f9bb01;


  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #0d6efd;

  --color-bg-page: #ffffff;
  --color-bg-section: #e2e2e2;
  --color-bg-hover: #f2f4fa;


  --color-text-primary: #222222;
  --color-text-inverse: #ffffff;
}
